# The URLs must end in a trailing backslash
DEMO_API_URL=https://demo.trading212.com/api/v0/
LIVE_API_URL=https://live.trading212.com/api/v0/
DEMO_API_KEY=
DEMO_API_SECRET=
LIVE_API_KEY=
LIVE_API_SECRET=
ENV=(demo|live)
DATABASE_URL=